@media screen and (max-width: 600px) {
  .header-container{
  justify-content: flex-start;
    .top-header {
      h1{
        font-size: var(--fs-base);
      }
      p {
        font-size: 0.75rem ;
      }
    }
  }

  .about-container {
    grid-template-columns: 1fr;
    .right-about{
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about{
      padding-right: 0;
      p{
        padding-left: 0;
      }
      h4{
        font-size: 1.5rem;
      }
    }
  }
  .timeline{
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .about-tech{
    .tech-bars{
      grid-template-columns: 1fr;
    }
  }

  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }

  .contact-conteiner {
    flex-direction: column;
    padding-bottom: 6rem;
    .left-contact{
      h4{
        font-size: 1.5rem;
      }
    }
    .right-contact{
      margin: 0 auto;
      .submit-confirmation{
        width: 60%;
      }
    }
  }

  

  .section {
    padding: 2rem 2.5rem;
  }

  .footer { 
    bottom: 50px;
    height: auto;
  }

  .section-title{
    h2{
      font-size: 2rem;
    }
  }

  .controlls{
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-red1);
    .control {
      margin: 0 .3rem;
    }
  }
  .theme-btn {
    top: 1%;
    right: 1%;
    width: 45px;
    height: 45px;
  }
}