* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #000;
  --color-secondary: #FF0202;
  --color-white: #FFF;
  --color-base: #080303;
  --color-red1: #330000;
  --color-red2: #5B0000;
  --color-crim: #dc143c;
  --bs-main: 2px 2px 15px rgba(255, 63, 63, 0.5);
  --fs-base: 18px;
  --fs-header: 3em;
  --trans: all 1s ease-in-out;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--fs-base);
  background-color: var(--color-primary);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3em 10em;
}

.section {
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}

.section-1 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-2 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-3 {
  display: none;
  transform: translateY(0) scale(1);
}

.section-4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: showPage 1s ease-in-out;
          animation: showPage 1s ease-in-out;
}
@-webkit-keyframes showPage {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes showPage {
  0% {
    transform: translateY(-100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-base);
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5%;
}
.footer p {
  padding: 5px;
}

.btn-container {
  display: flex;
}
.btn-container .btn-social {
  border-radius: 30px;
  color: inherit;
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  overflow: hidden;
}
.btn-container .btn-social .btn-text {
  font-weight: 500;
  padding: 0 0.4em;
  transition: var(--trans);
}
.btn-container .btn-social .btn-icon {
  background-color: var(--color-red2);
  border-radius: 50%;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-container .btn-social::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--trans);
  z-index: -1;
}
.btn-container .btn-social:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-red2);
  transform: translateX(0);
}

.section-title {
  text-align: center;
  padding-bottom: 2em;
}
.section-title h2 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 600;
}
.section-title h2 span {
  color: #FF0202;
}
.section-title h2 .back-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-weight: 800;
  color: var(--color-red2);
  z-index: -1;
  transition: var(--trans);
  font-size: 150%;
}

.controlls {
  position: fixed;
  z-index: 5;
  top: 50%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translateY(-50%);
}
.controlls .control {
  padding: 1em;
  background-color: var(--color-red1);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8em 0;
}
.controlls .control i {
  font-size: 1.5em;
  color: var(--color-white);
  pointer-events: none;
}
.controlls .active-pg {
  background-color: var(--color-secondary);
  transition: var(--trans);
}
.controlls .active-pg i {
  color: var(--color-white);
}

.theme-btn {
  position: fixed;
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 2em;
  pointer-events: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.header-container .top-header {
  margin-top: 2em;
  padding: 2% 5% 2% 2%;
  padding-right: calc(5% + 55px);
}
.header-container .top-header h1 {
  font-size: var(--fs-header);
}
.header-container .top-header h1 span {
  color: var(--color-secondary);
  font-size: 1.2em;
}
.header-container .top-header p {
  line-height: 2em;
}
.header-container .bottom-header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.header-container .bottom-header .header-shape {
  background-color: var(--color-red2);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(60% 25%, 78% 25%, 100% 83%, 100% 100%, 0 100%, 0 77%);
          clip-path: polygon(60% 25%, 78% 25%, 100% 83%, 100% 100%, 0 100%, 0 77%);
}
.header-container .bottom-header .image {
  position: relative;
  width: 50%;
  height: 100%;
}
.header-container .bottom-header .image img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: var(--trans);
}
.header-container .bottom-header .image img:hover {
  filter: grayscale(0);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2em;
  padding-bottom: 2em;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  transition: all 0.3s ease-in;
  box-shadow: var(--bs-main);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-crim);
  box-shadow: 2px 4px 15px rgba(255, 63, 63, 0.7);
}
.about-container .right-about .about-item .about-txt {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .about-txt .large-txt {
  font-size: 3em;
  font-weight: 600;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .about-txt .small-txt {
  padding-left: 3em;
  position: relative;
  text-transform: uppercase;
  font-size: 1.1em;
  color: var(--color-white);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .about-txt .small-txt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.8em;
  width: 1.5em;
  height: 2px;
  background-color: var(--color-red2);
}
.about-container .left-about p {
  line-height: 1.5em;
  padding: 1em;
  color: var(--color-white);
}
.about-container .left-about h4 {
  font-size: 2em;
  text-transform: uppercase;
}

/* Technologies */
.about-tech {
  padding-bottom: 2em;
}
.about-tech .tech-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.about-tech .tech-bars .tech-bar {
  display: flex;
  flex-direction: column;
}
.about-tech .tech-bars .tech-bar .tech-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-tech .tech-bars .tech-bar .tech-title i {
  padding-left: 0.5em;
}
.about-tech .tech-bars .tech-bar .tech-title .fa-s {
  padding-left: 0;
}
.about-tech .tech-bars .tech-bar .tech-container {
  display: flex;
  align-items: center;
}
.about-tech .tech-bars .tech-bar .tech-container .tech-text {
  color: var(--color-secondary);
  padding-right: 1em;
}
.about-tech .tech-bars .tech-bar .tech-container .progress {
  border-radius: 20px;
  width: 100%;
  height: 1em;
  background-color: var(--color-white);
  position: relative;
}
.about-tech .tech-bars .tech-bar .tech-container .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-secondary);
  transition: var(--trans);
}
.about-tech .tech-bars .tech-bar .tech-container .progress .html {
  width: 60%;
}
.about-tech .tech-bars .tech-bar .tech-container .progress .css {
  width: 35%;
}
.about-tech .tech-bars .tech-bar .tech-container .progress .js {
  width: 40%;
}
.about-tech .tech-bars .tech-bar .tech-container .progress .sass {
  width: 35%;
}
.about-tech .tech-bars .tech-bar .tech-container .progress .react {
  width: 15%;
}
.about-tech .tech-bars .tech-bar .tech-container .progress .ts {
  width: 30%;
}
.about-tech .tech-bars .tech-bar .tech-container .progress .git {
  width: 50%;
}

/* Timeline */
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding-bottom: 3em;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3em;
  border-left: 1px solid var(--color-secondary);
}
.timeline .timeline-item .timeline-icon {
  position: absolute;
  left: -25px;
  top: 0;
  background-color: var(--color-red2);
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline .timeline-item .timeline-icon i {
  font-size: 1.5em;
}
.timeline .timeline-item .timeline-duration {
  background-color: var(--color-red1);
  padding: 0.3em;
  border-radius: 15px;
  display: inline-block;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 1.2em;
}

.about-title {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  padding: 1em 0;
}
.about-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-red2);
  transform: translateX(-50%);
}

.portfolio-text {
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin-top: 3em;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15%;
}
.portfolios .portfolio-item .hover-links {
  width: 100%;
  height: 100%;
  background-color: var(--color-crim);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: var(--trans);
}
.portfolios .portfolio-item .hover-links h3 {
  font-size: 1.5em;
  color: var(--color-white);
}
.portfolios .portfolio-item .hover-links .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-links .icons .icon {
  background-color: var(--color-red2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.portfolios .portfolio-item .hover-links .icons .icon i {
  font-size: 1.4em;
  color: var(--color-white);
  margin: 0 1em;
}
.portfolios .portfolio-item .hover-links .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-links .icons .icon:hover i {
  color: var(--color-crim);
}

.portfolio-item:hover .hover-links {
  opacity: 1;
  transform: scale(1);
}

.contact-conteiner {
  display: flex;
  padding-top: 2em;
}
.contact-conteiner .left-contact {
  flex: 2;
}
.contact-conteiner .left-contact h4 {
  margin-top: 1em;
  font-size: 2em;
  text-transform: uppercase;
}
.contact-conteiner .left-contact p {
  margin: 1em 0;
  line-height: 2rem;
}
.contact-conteiner .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-conteiner .left-contact .contact-info .contact-item p {
  margin: 0.3em 0;
  padding: 0;
}
.contact-conteiner .left-contact .contact-info .contact-item .contact-icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-conteiner .left-contact .contact-info .contact-item .contact-icon i {
  display: flex;
  align-items: center;
  font-size: 1em;
}
.contact-conteiner .right-contact {
  flex: 4;
  margin-left: 3em;
}
.contact-conteiner .right-contact .input-control {
  margin: 1em 0;
}
.contact-conteiner .right-contact .input-control input, .contact-conteiner .right-contact .input-control textarea {
  border-radius: 35px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8em 1.1em;
  outline: none;
  border: none;
  background-color: var(--color-red1);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-conteiner .right-contact .input-control :focus {
  background-color: var(--color-red2);
}
.contact-conteiner .right-contact .ic-2 {
  display: flex;
}
.contact-conteiner .right-contact .ic-2 :last-child {
  margin-left: 1.5em;
}
.contact-conteiner .right-contact .input-radio {
  padding: 0.8em 1.1em;
  background-color: var(--color-red1);
  color: gray;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-conteiner .right-contact .input-radio label {
  cursor: pointer;
}
.contact-conteiner .right-contact .input-radio input[type=radio] {
  cursor: pointer;
}
.contact-conteiner .right-contact .input-radio:hover {
  background-color: var(--color-red2);
}
.contact-conteiner .right-contact .submit-btn {
  background-color: var(--color-red1);
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 35px;
  padding: 0.8em 1.1em;
  font-size: 1em;
  transition: var(--trans);
}
.contact-conteiner .right-contact .submit-btn:hover {
  background-color: var(--color-red2);
  color: var(--color-white);
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */